<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon title-->
    <link rel="shortcut icon" href="Images/icon.png" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">

    <!-- Css + Css Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/dependence/glide.core.min.css">
    <link rel="stylesheet" href="css/dependence/glide.theme.min.css">
    <link rel="stylesheet" href="css/dependence/simple-lightbox.min.css">
    <link rel="stylesheet" href="css/feedback.css">

    <!-- Title -->
    <title>C&S - Cutie and Sweet</title>
</head>

<body>
    <header>
        <div class="top-header">
            <a class="top-localization" href="https://maps.google.com.br" title="Ver localização no mapa">
                <span class="top-icon-map"><i class="fas fa-map-marked-alt"></i></span>
                Avenida Getúlio Vargas 657, Centro, Matelândia-PR
            </a>
            <div class="top-social">
                <a href="https://instagram.com.br" target="_blank" title="Conheça nossa loja no Instagram">
                    <i class="top-icon fab fa-instagram"></i>
                </a>
                <a href="" target="_blank" title="Curta nossa página no Facebook!">
                    <i class="top-icon fab fa-facebook-square"></i>
                </a>
                <a href="https://whatsapp.com.br" target="_blank" title="Entre em contato pelo WhatsApp">
                    <i class="top-icon fab fa-whatsapp"></i>
                </a>
                <a href="" target="_blank" title="Entre em contato pelo Telegram">
                    <i class="top-icon fab fa-telegram"></i>
                </a>
                <a href="tel:45998491539" target="_blank" title="Fale conosco">
                    <i class="top-icon fas fa-phone-square-alt"></i>
                </a>
                <a href="mailto:comercial@cutieeshweet.com.br" target="_blank"
                    title="Entre em contato através do e-mail">
                    <i class="top-icon fas fa-envelope-square"></i>
                </a>
            </div>
        </div>
        <nav class="navbar-expand-lg navbar-light nav-menu">
            <a href="index.html" class="div-logo" title="Pagina Inicial">
                <h2 class="text-logo">C&S</h2>
                <h4 class="text-logo">Cutie and Sweet</h4>
                <span class="text-logo">Moda Fashion</span>
            </a>
            <div class="div-menu collapse navbar-collapse" id="myLinks">
                <ul class="navbar-nav mr-auto ul-menu">
                    <li class="li-menu"><a class="link-menu" href="contact.html" title="Entre em contato">CONTATO</a>
                    </li>
                    <li class="li-menu"><a class="link-menu active" href="feedback.html"
                            title="Veja o feedback de nossos clientes">FEEDBACK</a></li>
                    <li class="li-menu"><a class="link-menu" href="blog.html"
                            title="Saiba mais sobre a moda do momento!">BLOG</a></li>
                    <li class="li-menu"><a class="link-menu" href="products.html"
                            title="Conheça nossos produtos!">PRODUTOS</a></li>
                    <li class="li-menu"><a class="link-menu" href="about.html" title="Saiba mais sobre nós...">SOBRE</a>
                    </li>
                    <li class="li-menu"><a class="link-menu" href="index.html"
                            title="Ir para a Página Inicial">INICIO</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="div-menu-responsive">
        <a href="#menu" id="toggle"><span><i class="fas fa-caret-down"></i> MENU</span></a>

        <div id="menu">
            <ul class="menu-ul">
                <li class="menu-li"><a href="index.html">INICIO</a></li>
                <li class="menu-li"><a href="about.html">SOBRE</a></li>
                <li class="menu-li"><a href="products.html">PRODUTOS</a></li>
                <li class="menu-li"><a href="blog.html">BLOG</a></li>
                <li class="menu-li"><a href="feedback.html">FEEDBACK</a></li>
                <li class="menu-li"><a href="contact.html">CONTATOS</a></li>
            </ul>
        </div>
    </div>

    <section class="feedback-section">

        <div class="feedback-title">
            <h2> Feedback </h2>
            <p>Aqui você pode acompanhar o feedback de nossas queridas clientes!</p>
        </div>

        <div class="feedbacks-div">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li>
                            <div class="feedback-item">
                                <div class="feedback-conteudo">
                                    <h3>Kamila P. B. Muller</h3>
                                    <hr>
                                    <p>
                                        "Nossa querida cliente Kamila recentemente adqueriu a blusa tanana
                                        da coleção Rocket Line. É uma ótima opção para uma social com os amigos!
                                        Ela está muito satisfeita e nos mandou seu feedback para mostrar como 
                                        ficou linda com essa blusa!" <br>
                                        Obrigado pelo Feedback Kamila!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feedback-item">
                                <div class="feedback-conteudo">
                                    <h3>Kamila P. B. Muller</h3>
                                    <div class="gallery" id="gallery">
                                        <a href="images/feedback.png" class="big"><img src="images/feedback.png" alt=""
                                                title="Passar nome pra imagem" /></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feedback-item">
                                <div class="feedback-conteudo">
                                    <h3>Kamila P. B. Muller</h3>
                                    <hr>
                                    <p>
                                        "Nossa querida cliente Kamila recentemente adqueriu a blusa tanana
                                        da coleção Rocket Line. É uma ótima opção para uma social com os amigos!
                                        Ela está muito satisfeita e nos mandou seu feedback para mostrar como 
                                        ficou linda com essa blusa!" <br>
                                        Obrigado pelo Feedback Kamila!
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left button-slide-left" title="Anteriores"
                        data-glide-dir="<"><i class="fas fa-angle-double-left i-slide"></i></button>
                    <button class="glide__arrow glide__arrow--right button-slide-right" title="Próximas"
                        data-glide-dir=">"><i class="fas fa-angle-double-right i-slide"></i></button>
                </div>
            </div>
        </div>
    </section>

    <img class="hr-feedback" src="images/hr.png" alt="Traço decorativo da lojaß">

    <section class="section-contact">

        <div class="div-contact" id="contact">
            <h2 class="h2-contact">Contatos</h2>
            <p class="p-contact">Quer mandar o seu feedback também?</p>
            <p class="p-contact">Nossas redes sociais são listadas abaixo, manda lá pra gente saber como você ficou 
                de roupa nova!
            </p>
            <div class="social-contacts">
                <div class="social-item whatsapp">
                    <a target="_blank" href="">
                        <h2><i class="fab fa-whatsapp"></i><br> Whatsapp</h2>
                    </a>
                </div>
                <div class="social-item telegram">
                    <a target="_blank" href="">
                        <h2><i class="fab fa-telegram"></i><br> Telegram</h2>
                    </a>
                </div>
                <div class="social-item instagram">
                    <a target="_blank" href="">
                        <h2><i class="fab fa-instagram"></i><br> Instagram</h2>
                    </a>
                </div>
                <div class="social-item facebook">
                    <a target="_blank" href="">
                        <h2><i class="fab fa-facebook-square"></i><br> Facebook</h2>
                    </a>
                </div>
                <div class="social-item email">
                    <a target="_blank" href="">
                        <h2><i class="fas fa-envelope-open-text"></i><br> E-mail</h2>
                    </a>
                </div>
                <div class="social-item telefone">
                    <a target="_blank" href="">
                        <h2><i class="fas fa-phone-square"></i><br> Telefone</h2>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <section class="footer">
            <a class="top-link hide" title="Ir para o topo" href="" id="js-top">
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="top-link show top-link-2" title="Fale conosco!" target="_blank" href="https://whatsapp.com.br">
                <i class="fab fa-whatsapp fa-wpp"></i>
            </a>

            <div class="div-footer footer-right">
                <a href="index.html" class="div-logo" title="Pagina Inicial">
                    <h2 class="text-logo">C&S</h2>
                    <h4 class="text-logo">Cutie and Sweet</h4>
                    <span class="text-logo">Moda Fashion</span>
                </a>
                <p class="footer-p">A loja <a href="products" title="Ver Produtos"><b>Cutie e Sweet</b></a> a moda
                    fashion chegou para transformar seu guarda-roupas
                    com lindas peças de qualidade e do jeito que você gosta!
                </p>
            </div>
            <hr class="hr-responsive">
            <div class="div-footer">
                <h3>Entre em Contato:</h3>
                <div class="footer-social">
                    <a href="https://instagram.com.br/cutieeshweet" target="_blank" title="Nos acompanhe no Instagram">
                        <i class="fab fa-instagram"></i> @Cutie&Sweet
                    </a>
                    <a href="https://facebook.com.br/cutieeshweet" target="_blank"
                        title="Curta nossa página no Facebook">
                        <i class="fab fa-facebook"></i> Cutie And Sweet
                    </a>
                    <a href="https://whatsapp.com.br" target="_blank" title="Mande uma mensagem em nosso WhatsApp">
                        <i class="fab fa-whatsapp"></i> (45) 998491539
                    </a>
                    <a href="" target="_blank" title="Mande uma mensagem em nosso Telegram">
                        <i class="fab fa-telegram"></i> (45) 998491539
                    </a>
                    <a href="tel:+5545998491539" target="_blank" title="Fale conosco">
                        <i class="fas fa-phone-square-alt"></i> (45) 998491539
                    </a>
                    <a href="mailto:comercial@cutieeshweet.com.br" target="_blank"
                        title="Entre em contato através do e-mail">
                        <i class="far fa-envelope"></i> comercial@cutieeshweet.com.br
                    </a>
                </div>
            </div>
            <hr class="hr-responsive">
            <div class="div-footer">
                <div class="footer-categories">
                    <div class="footer-category">
                        <a href="index.html" class="category" title="Página inicial">
                            <h2><i class="fas fa-home"></i></h2>
                        </a>
                        <a href="products.html" class="category" title="Confira todos os nossos produtos...">
                            <h2><i class="fas fa-shopping-bag"></i></h2>
                        </a>
                        <a href="about.html" class="category" title="Saiba mais sobre nossa loja!">
                            <h2><i class="fas fa-heart"></i></h2>
                        </a>
                        <a href="contact.html" class="category" title="Nossos contatos">
                            <h2><i class="fas fa-id-card"></i></h2>
                        </a>
                        <a href="maps.google.com" class="category" title="Nossa localização">
                            <h2><i class="fas fa-map-marker-alt"></i></h2>
                        </a>
                        <a href="mailto:comercial@cutieandsweet.com.br" class="category"
                            title="Nos envie uma e-mail de contato">
                            <h2><i class="far fa-envelope"></i></h2>
                        </a>
                        <a href="" class="category" title="Fale conosco pelo whatsapp">
                            <h2><i class="fab fa-whatsapp"></i></h2>
                        </a>
                        <a href="" class="category" title="Conheça nossa loja no instagram!">
                            <h2><i class="fab fa-instagram"></i></h2>
                        </a>
                        <a href="" class="category" title="Curta nossa página no Facebook!">
                            <h2><i class="fab fa-facebook-square"></i></h2>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div class="copyright-div">
            <p>Copyright © 2021 - C&S Cutie and Sweet</p>
            <p>Cnpj: 00.000.000.0000/00</p>
            <p>Proprietária: Kamila Pesseti Byhain Muller</p>
        </div>

        <!-- Scripts -->
        <script src="js/dependence/jQuery.js"></script>
        <!-- Glide pra usar uns sliders diferentes -->
        <script src="js/dependence/glide.min.js"></script>
        <!-- Bootstrap dependencias -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- Galery js -->
        <script src="js/dependence/simple-lightbox.min.js?v2.4.1"></script>
        <!-- Js para todos -->
        <script src="js/default.js"></script>
        <!-- Js específico -->
        <script src="js/feedback.js"></script>
        <!-- Fontawesome pra intupir o site com icones -->
        <script src="https://kit.fontawesome.com/372739c0b1.js" crossorigin="anonymous"></script>
    </footer>
</body>

</html>