<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon title-->
    <link rel="shortcut icon" href="Images/icon.png" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">

    <!-- Css + Css Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/dependence/glide.core.min.css">
    <link rel="stylesheet" href="css/dependence/glide.theme.min.css">
    <link rel="stylesheet" href="css/dependence/gallery.css">
    <link rel="stylesheet" href="css/dependence/simple-lightbox.min.css">
    <link rel="stylesheet" href="css/product_detail.css">

    <!-- Title -->
    <title>C&S - Cutie and Sweet</title>
</head>

<body>
    <header>
        <div class="top-header">
            <a class="top-localization" href="https://maps.google.com.br" title="Ver localização no mapa">
                <span class="top-icon-map"><i class="fas fa-map-marked-alt"></i></span>
                Avenida Getúlio Vargas 657, Centro, Matelândia-PR
            </a>
            <div class="top-social">
                <a href="https://instagram.com.br" target="_blank" title="Conheça nossa loja no Instagram">
                    <i class="top-icon fab fa-instagram"></i>
                </a>
                <a href="" target="_blank" title="Curta nossa página no Facebook!">
                    <i class="top-icon fab fa-facebook-square"></i>
                </a>
                <a href="https://whatsapp.com.br" target="_blank" title="Entre em contato pelo WhatsApp">
                    <i class="top-icon fab fa-whatsapp"></i>
                </a>
                <a href="" target="_blank" title="Entre em contato pelo Telegram">
                    <i class="top-icon fab fa-telegram"></i>
                </a>
                <a href="tel:45998491539" target="_blank" title="Fale conosco">
                    <i class="top-icon fas fa-phone-square-alt"></i>
                </a>
                <a href="mailto:comercial@cutieeshweet.com.br" target="_blank"
                    title="Entre em contato através do e-mail">
                    <i class="top-icon fas fa-envelope-square"></i>
                </a>
            </div>
        </div>
        <nav class="navbar-expand-lg navbar-light nav-menu">
            <a href="index.html" class="div-logo" title="Pagina Inicial">
                <h2 class="text-logo">C&S</h2>
                <h4 class="text-logo">Cutie and Sweet</h4>
                <span class="text-logo">Moda Fashion</span>
            </a>
            <div class="div-menu collapse navbar-collapse" id="myLinks">
                <ul class="navbar-nav mr-auto ul-menu">
                    <li class="li-menu"><a class="link-menu" href="contact.html" title="Entre em contato">CONTATO</a>
                    </li>
                    <li class="li-menu"><a class="link-menu" href="feedback.html"
                            title="Veja o feedback de nossos clientes">FEEDBACK</a></li>
                    <li class="li-menu"><a class="link-menu" href="blog.html"
                            title="Saiba mais sobre a moda do momento!">BLOG</a></li>
                    <li class="li-menu"><a class="link-menu active" href="products.html"
                            title="Conheça nossos produtos!">PRODUTOS</a></li>
                    <li class="li-menu"><a class="link-menu" href="about.html" title="Saiba mais sobre nós...">SOBRE</a>
                    </li>
                    <li class="li-menu"><a class="link-menu" href="index.html"
                            title="Ir para a Página Inicial">INICIO</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="div-menu-responsive">
        <a href="#menu" id="toggle"><span><i class="fas fa-caret-down"></i> MENU</span></a>

        <div id="menu">
            <ul class="menu-ul">
                <li class="menu-li"><a href="index.html">INICIO</a></li>
                <li class="menu-li"><a href="about.html">SOBRE</a></li>
                <li class="menu-li"><a href="products.html">PRODUTOS</a></li>
                <li class="menu-li"><a href="blog.html">BLOG</a></li>
                <li class="menu-li"><a href="feedback.html">FEEDBACK</a></li>
                <li class="menu-li"><a href="contact.html">CONTATOS</a></li>
            </ul>
        </div>
    </div>

    <section class="product-detail">
        <h2 class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </h2>
        <div class="redirects">
            <a href="products.html" class="redirects-button" title="Ir para todos os produtos">
                <i class="fas fa-reply-all"></i> Todos os Produtos
            </a>
            <a href="#gallery" class="redirects-button" title="Ir para galeria de fotos do produto">
                <i class="fab fa-slack-hash"></i> Mais Fotos
            </a>
            <a href="#payment" class="redirects-button" title="Ir para formas de pagamento...">
                <i class="fab fa-slack-hash"></i> Formas de Pagamento
            </a>
            <a href="#shipping" class="redirects-button" title="Ir para formas de envio e entregas...">
                <i class="fab fa-slack-hash"></i> Entregas e Envios
            </a>
            <a href="#products" class="redirects-button" title="Ir para mais produtos relacionados">
                <i class="fab fa-slack-hash"></i> Mais Produtos
            </a>
            <a href="#contact" class="redirects-button" title="Ir para nossos contatos">
                <i class="fab fa-slack-hash"></i> Contatos
            </a>
        </div>

        <div class="product">

            <div class="image-product">
                <img src="images/galeria/4.jpg" alt="Imagem Principal" class="img-product">
                <p class="img-autor"> Fotos por: <b>Kamila Pesseti Byhain Muller</b></p>
            </div>
            <div class="product-info">
                <h2 class="product-info-h2">Blusa Tanana Cutie and Sweet Rocker Line</h2>
                <div class="product-price-div">
                    <div class="product-div-request-price">
                        <p class="product-discount">R$69,90</p>
                        <p class="product-price-p">R$75,90</p>
                        <p class="product-price-prazo">Ou 3x de R$29,90 no cartão</p>
                    </div>
                    <div class="product-div-request">
                        <p class="product-request">Feedbacks: 8</p>
                        <p class="product-request">Pedidos: 27</p>
                    </div>
                </div>
                <p class="product-info-p">A Blusa Tanana Cutie and Sweet da edição de lançamento da linha Rocker é uma
                    ótima opção
                    tanto para o dia a dia quanto para os eventos sociais com as amigas.
                </p>
                <div class="caracteres">
                    <div class="size-caracteres">
                        <p class="product-info-size">Tamanhos:</p>
                        <div class="sizes">
                            <p class="size" title="Unico">U</p>
                            <p class="size" title="Pen Pequeno">PP</p>
                            <p class="size" title="Pequeno">P</p>
                            <p class="size" title="Médio">M</p>
                            <p class="size" title="Grande">G</p>
                        </div>
                    </div>
                    <div class="color-caracteres">
                        <p class="product-info-size">Cores:</p>
                        <div class="colors">
                            <p class="color blue"></p>
                            <p class="color green"></p>
                            <p class="color gray"></p>
                            <p class="color white"></p>
                        </div>
                    </div>
                </div>
                <div class="categories">
                    <p class="product-info-size">Categorias:</p>
                    <div class="categories-item">
                        <p>#Camiseta</p>
                        <p>#Linha Rocker</p>
                        <p>#Primavera/Verão</p>
                        <p>#Modinha</p>
                    </div>
                </div>
                <div class="shop">
                    <a class="button-shop blinking" title="Fazer o pedido agora pelo WhatsApp" href=""><i
                            class="fab fa-whatsapp"></i> Comprar Agora</a>
                    <div class="shop-p">
                        <p> Você pode fazer o pedido por esse botão que te leva direto para o nosso 
                            whatsapp, mas fique a vontade para nos chamar por qualquer outro meio social!
                        </p>
                    </div>
                </div>

            </div>

        </div>

        <div class="container">
            <div class="gallery" id="gallery">
                <h3 class="gallery-info">Confira mais fotos do produto <i class="fas fa-level-down-alt"></i></h3>
                <a href="images/galeria/1.jpg" class="big"><img src="images/galeria/1.jpg" alt="Teste"
                        title="Beautiful Image 1" /></a>
                <a href="images/galeria/2.jpg" class="big"><img src="images/galeria/2.jpg" alt=""
                        title="Beautiful Image 2" /></a>
                <a href="images/galeria/3.jpg" class="big"><img src="images/galeria/3.jpg" alt=""
                        title="Beautiful Image 3" /></a>
                <a href="images/galeria/4.jpg" class="big"><img src="images/galeria/4.jpg" alt=""
                        title="Beautiful Image" /></a>
                <a href="images/galeria/5.jpg" class="big"><img src="images/galeria/5.jpg" alt=""
                        title="Beautiful Image" /></a>
                <a href="images/galeria/6.jpg" class="big"><img src="images/galeria/6.jpg" alt=""
                        title="Beautiful Image" /></a>
                <a href="images/galeria/7.jpg" class="big"><img src="images/galeria/7.jpg" alt=""
                        title="Beautiful Image" /></a>
                <a href="images/galeria/8.jpg" class="big"><img src="images/galeria/8.jpg" alt=""
                        title="Beautiful Image" /></a>
                <a href="images/galeria/9.jpg" class="big"><img src="images/galeria/9.jpg" alt=""
                        title="Beautiful Image" /></a>
                <div class="clear"></div>
            </div>
        </div>

    </section>

    <section class="shipping">
        <div class="div-shipping">
            <div class="shipping-payment" id="payment">
                <h2><i class="fas fa-hand-holding-usd"></i> Formas de Pagamento</h2>
                <button class="accordion" title="Clique para saber os detalhes da ferramenta">
                    <i class="far fa-credit-card"></i> Link de pagamento do Mercado Pago <i
                        class="fas fa-caret-down i-right"></i>
                </button>
                <div class="panel">
                    <p>Através do link de pagamento do Mercado pago você pode pagar o valor a vista ou
                        parcelado em quantas vezes quiser. É um dos formatos mais seguros de pagar na internet.
                    </p>
                </div>

                <button class="accordion" title="Clique para saber os detalhes da ferramenta">
                    <i class="fas fa-qrcode"></i> Pix - Meio de Pagamento eletrônico <i
                        class="fas fa-caret-down i-right"></i>
                </button>
                <div class="panel">
                    <p>A facilidade do Pix confirma o pagamento na hora e facilita tanto para o comprador
                        quanto para o vendedor do produto.
                    </p>
                </div>

                <button class="accordion" title="Clique para saber os detalhes da ferramenta">
                    <i class="fas fa-file-invoice"></i> Boleto Bancário - Para até 3 dias úteis <i
                        class="fas fa-caret-down i-right"></i>
                </button>
                <div class="panel">
                    <p>O boleto é gerado com o prazo de 3 dias até o vencimento, após a confirmação
                        o produto é enviado, entregue ou pode ser retirado.
                    </p>
                </div>

                <button class="accordion" title="Clique para saber os detalhes da ferramenta">
                    <i class="fas fa-comments-dollar"></i> Transferência Bancária ou Transferência Eletrônica <i
                        class="fas fa-caret-down i-right"></i>
                </button>
                <div class="panel">
                    <p>Você tem opção de realizar o pagamento por transferência e assim que for confirmado
                        o pedido segue sendo realizado.
                    </p>
                </div>
            </div>
            <br>
            <hr class="hr-shipping">
            <div class="shipping-p" id="shipping">
                <h2><i class="fas fa-shipping-fast"></i> Entregas e Envios</h2>
                <p><i class="fas fa-map-marked-alt"></i> Nosso produtos podem ser retirados em nosso <a href=""
                        title="Avenida Getúlio Vargas, 657, centro, Matelândia - PR" class="address-shipping">
                        endereço</a>.</p>
                <p><i class="fas fa-city"></i> Entregamos em Matelândia, Medianeira, Missal, São Miguel e Santa Helena.
                </p>
                <p><i class="fas fa-paper-plane"></i> Enviamos para todo o Brasil através dos Correios, com valor
                    adicional de envio conforme a localização.</p>
            </div>
    </section>

    <section class="more-products" id="products">
        <h2 class="more-h2">Conheça também</h2>
        <hr class="more-hr">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li>
                        <a class="a-product-more" href="product_detail.html"
                            title="Clique para ver detalhes do produto!">
                            <img class="img-product-others" src="Images/products/9.jpg"
                                alt="Calça Jeans Cutie and Sweet Rocker Line">
                            <p class="price-discount">De R$100,00 por <span class="discount">R$90,00</span></p>
                            <h2 class="h2-product">Calça Jeans Cutie and Sweet Rocker Line</h2>
                            <span class="button-product">Ver Detalhes</span><br>
                        </a>
                    </li>
                    <li>
                        <a class="a-product-more" href="product_detail.html"
                            title="Clique para ver detalhes do produto!">
                            <img class="img-product-others" src="Images/products/4.jpg"
                                alt="Calça Jeans Cutie and Sweet Rocker Line">
                            <p class="price"> R$100,00 </p>
                            <h2 class="h2-product">Blusa Tanana Cutie and Sweet Rocker Line</h2>
                            <span class="button-product">Ver Detalhes</span><br>
                        </a>
                    </li>
                    <li>
                        <a class="a-product-more" href="product_detail.html"
                            title="Clique para ver detalhes do produto!">
                            <img class="img-product-others" src="Images/products/12.jpg"
                                alt="Saia Cutie and Sweet Rocker Line">
                            <p class="price-discount">De R$80,00 por <span class="discount">R$75,00</span></p>
                            <h2 class="h2-product">Saia Cutie and Sweet Rocker Line</h2>
                            <span class="button-product">Ver Detalhes</span><br>
                        </a>
                    </li>
                    <li>
                        <a class="a-product-more" href="product_detail.html"
                            title="Clique para ver detalhes do produto!">
                            <img class="img-product-others" src="Images/products/5.jpg"
                                alt="Calça Jeans Cutie and Sweet Rocker Line">
                            <p class="price"> R$56,90 </p>
                            <h2 class="h2-product">Blusa tal e tal Cutie and Sweet Rocker Line</h2>
                            <span class="button-product">Ver Detalhes</span><br>
                        </a>
                    </li>
                    <li>
                        <a class="a-product-more" href="product_detail.html"
                            title="Clique para ver detalhes do produto!">
                            <img class="img-product-others" src="Images/products/9.jpg"
                                alt="Calça Jeans Cutie and Sweet Rocker Line">
                            <p class="price-discount">De R$100,00 por <span class="discount">R$90,00</span></p>
                            <h2 class="h2-product">Calça Jeans Cutie and Sweet Rocker Line</h2>
                            <span class="button-product">Ver Detalhes</span><br>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left button-slide-left" title="Anteriores"
                    data-glide-dir="<"><i class="fas fa-angle-double-left i-slide"></i></button>
                <button class="glide__arrow glide__arrow--right button-slide-right" title="Próximas"
                    data-glide-dir=">"><i class="fas fa-angle-double-right i-slide"></i></button>
            </div>
        </div>
    </section>

    <section class="section-contact">

        <div class="div-contact" id="contact">
            <h2 class="h2-contact">Contatos</h2>
            <p class="p-contact">Vai ser um prazer conversar com você!</p>
            <p class="p-contact">Entre em contato, fale conosco, nos mande um e-mail, tire suas dúvidas... Fique a
                vontade!</p>
            <div class="social-contacts">
                <div class="social-item whatsapp">
                    <a target="_blank" href="">
                        <h2><i class="fab fa-whatsapp"></i><br> Whatsapp</h2>
                    </a>
                </div>
                <div class="social-item telegram">
                    <a target="_blank" href="">
                        <h2><i class="fab fa-telegram"></i><br> Telegram</h2>
                    </a>
                </div>
                <div class="social-item instagram">
                    <a target="_blank" href="">
                        <h2><i class="fab fa-instagram"></i><br> Instagram</h2>
                    </a>
                </div>
                <div class="social-item facebook">
                    <a target="_blank" href="">
                        <h2><i class="fab fa-facebook-square"></i><br> Facebook</h2>
                    </a>
                </div>
                <div class="social-item email">
                    <a target="_blank" href="">
                        <h2><i class="fas fa-envelope-open-text"></i><br> E-mail</h2>
                    </a>
                </div>
                <div class="social-item telefone">
                    <a target="_blank" href="">
                        <h2><i class="fas fa-phone-square"></i><br> Telefone</h2>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <section class="footer">
            <a class="top-link hide" title="Ir para o topo" href="" id="js-top">
                <i class="fas fa-arrow-up"></i>
            </a>
            <a class="top-link show top-link-2" title="Fale conosco!" target="_blank" href="https://whatsapp.com.br">
                <i class="fab fa-whatsapp fa-wpp"></i>
            </a>

            <div class="div-footer footer-right">
                <a href="index.html" class="div-logo" title="Pagina Inicial">
                    <h2 class="text-logo">C&S</h2>
                    <h4 class="text-logo">Cutie and Sweet</h4>
                    <span class="text-logo">Moda Fashion</span>
                </a>
                <p class="footer-p">A loja <a href="products" title="Ver Produtos"><b>Cutie e Sweet</b></a> a moda
                    fashion chegou para transformar seu guarda-roupas
                    com lindas peças de qualidade e do jeito que você gosta!
                </p>
            </div>
            <hr class="hr-responsive">
            <div class="div-footer">
                <h3>Entre em Contato:</h3>
                <div class="footer-social">
                    <a href="https://instagram.com.br/cutieeshweet" target="_blank" title="Nos acompanhe no Instagram">
                        <i class="fab fa-instagram"></i> @Cutie&Sweet
                    </a>
                    <a href="https://facebook.com.br/cutieeshweet" target="_blank"
                        title="Curta nossa página no Facebook">
                        <i class="fab fa-facebook"></i> Cutie And Sweet
                    </a>
                    <a href="https://whatsapp.com.br" target="_blank" title="Mande uma mensagem em nosso WhatsApp">
                        <i class="fab fa-whatsapp"></i> (45) 998491539
                    </a>
                    <a href="" target="_blank" title="Mande uma mensagem em nosso Telegram">
                        <i class="fab fa-telegram"></i> (45) 998491539
                    </a>
                    <a href="tel:+5545998491539" target="_blank" title="Fale conosco">
                        <i class="fas fa-phone-square-alt"></i> (45) 998491539
                    </a>
                    <a href="mailto:comercial@cutieeshweet.com.br" target="_blank"
                        title="Entre em contato através do e-mail">
                        <i class="far fa-envelope"></i> comercial@cutieeshweet.com.br
                    </a>
                </div>
            </div>
            <hr class="hr-responsive">
            <div class="div-footer">
                <div class="footer-categories">
                    <div class="footer-category">
                        <a href="index.html" class="category" title="Página inicial">
                            <h2><i class="fas fa-home"></i></h2>
                        </a>
                        <a href="products.html" class="category" title="Confira todos os nossos produtos...">
                            <h2><i class="fas fa-shopping-bag"></i></h2>
                        </a>
                        <a href="about.html" class="category" title="Saiba mais sobre nossa loja!">
                            <h2><i class="fas fa-heart"></i></h2>
                        </a>
                        <a href="contact.html" class="category" title="Nossos contatos">
                            <h2><i class="fas fa-id-card"></i></h2>
                        </a>
                        <a href="maps.google.com" class="category" title="Nossa localização">
                            <h2><i class="fas fa-map-marker-alt"></i></h2>
                        </a>
                        <a href="mailto:comercial@cutieandsweet.com.br" class="category"
                            title="Nos envie uma e-mail de contato">
                            <h2><i class="far fa-envelope"></i></h2>
                        </a>
                        <a href="" class="category" title="Fale conosco pelo whatsapp">
                            <h2><i class="fab fa-whatsapp"></i></h2>
                        </a>
                        <a href="" class="category" title="Conheça nossa loja no instagram!">
                            <h2><i class="fab fa-instagram"></i></h2>
                        </a>
                        <a href="" class="category" title="Curta nossa página no Facebook!">
                            <h2><i class="fab fa-facebook-square"></i></h2>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <div class="copyright-div">
            <p>Copyright © 2021 - C&S Cutie and Sweet</p>
            <p>Cnpj: 00.000.000.0000/00</p>
            <p>Proprietária: Kamila Pesseti Byhain Muller</p>
        </div>

        <!-- Start Scripts -->

        <!-- jQuery porque tudo depende disso -->
        <script src="js/dependence/jQuery.js"></script>
        <!-- Glide pra usar uns sliders diferentes -->
        <script src="js/dependence/glide.min.js"></script>
        <!-- Gallery JS -->
        <script src="js/dependence/simple-lightbox.min.js?v2.4.1"></script>
        <!-- Js utilizado por tudo -->
        <script src="js/default.js"></script>
        <!-- Js utilizado apenas na index -->
        <script src="js/product_detail.js"></script>
        <!-- Bootstrap padrão demais -->
        <script src="js/dependence/bootstrap.bundle.min.js"></script>
        <!-- Fontawesome pra intupir o site com icones -->
        <script src="https://kit.fontawesome.com/372739c0b1.js" crossorigin="anonymous"></script>

        <!-- End Scripts -->

    </footer>
</body>

</html>