.div-error {
    text-align: center;
    color: #600416;
    margin: 100px auto;
}

.div-error h2 {
    font-size: 80px;
    text-shadow: 2px 2px #000000;
}

.div-error h3 {
    font-size: 45px;
    text-shadow: 1px 1px #000000;
}